Enter your custom styles here
.borderClass {
    border: 1px solid;
    border-radius: 5px;
}

.tcclass {
    height: 450px;
    width: fit-content;
}

.addColor {
    color: #3D58D4;
}

.identifySize {
    font-size: 30px;
}

#addColorSimple {
    background-color: #3D58D4 !important;
}

.registerCardClass {
    background-color: #3D58D4 !important;
    border-radius: 5px;
    padding: 15px;
}

.addWhiteClrContent {
    padding-top: 5px;
    color: white;

}

.size2 {
    font-size: 30px;
}

.whiteButton {
    background-color: white;
    color: #3D58D4;
    width: 250px;
}

.titleSize {
    font-size: 18px;
}

#idEmailContent {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.toolbarHeader {
    height: 5 rem;
}

.fullWidth {
    width: 100% !important;
    float: left;
}

.tcFontSize {
    font-size: 12px;
}

.classTcCheckBox>.sapMCbBg {
    border: 2px solid blue !important;

}

.classTcCheckBox {
    color: black;
}

.classHBoxBorder {
    background-color: #d4d3d2;
    padding: 10px;
    margin: auto;
    width: 50%;

}

.classHboxWidth {
    width: fit-content;
}

.classChildHboxWidth {
    width: 25%;
    border-right: 1px solid black;
    margin-right: 10px;
}

.classObjectStatusPadding {
    padding-left: 10px;
}

.classContentBold {
    font-weight: bold !important;
}

